html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
            }

            .flex-center {
                align-items: top;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .grid-container{
                display: grid;
                grid-template-columns: 10;
                grid-template-rows: @count($Personas);
                margin:0 auto;
                color: black;
                text-align:center;
            }

            .greenButton {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                opacity: 0.6;
                transition: 0.3s;
            }

            .greenButton:hover {opacity: 1}

            .blueButton {
                background-color: #008CBA;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                opacity: 0.6;
                transition: 0.3s;
            }

            .blueButton:hover {opacity: 1}

            .grayButton {
                background-color: gray; 
                border: none;
                color: black;
                font-weight: bold;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                transition: 0.3s;
            }

            .grayButton:hover {
                background-color: #3e8e41;
                color: white;
            }

            .bottomPageButton {
                background-color: #baffe5;
                border: none;
                color: black;
                padding: 15px 15px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                opacity: 0.6;
                border-radius:8px;
                transition: 0.3s;
            }

            .bottomPageButton:hover {
                background-color: #3affb4;
                color:black;
            }